@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Poppins:wght@400;500;600;700&display=swap');

body{
    background-color: #25253F;
    color: white;
    font-family: 'Nunito', sans-serif;
}
/* nav section */
.nav_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;
    margin-bottom: 10vh;
}
.nav_section > div h1{
    font-weight: bolder;
}
.logins > a{
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.logo{
    margin-top: 3vh;
    margin-bottom: 10vh;
}
/* hero section */
.btn1{
    background: #4665F1;
    border: none;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 5px;
}
.btn2{
    background: #4665F1;
    border: none;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 5px;
}
.btn3{
    background: #4665F1;
    border: none;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    float: right;
}
.btn4{
    background: #4665F1;
    border: none;
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    float: right;
}
.btn5{
    background: #4665F1;
    border: none;
    color: white;
    height: 40px;
    border-radius: 5px;
    padding-right: 10px;
    font-size: 20px;
}
.btn6{
    background: #4665F1;
    border: none;
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 5px;
}
.col-md-5 > h1{
    margin-top: 20vh;
    font-size: 35px;
    font-weight: bolder;
}
/* signup inputs */
.input{
    color: black;
    background: white;
    padding-bottom: 15px;
    padding-top: 10px;
}
.input > form > input{
    border: 1px solid #CCCCCC;
    width: 80%;
    margin: auto;
}
.input > form > input:focus{
    outline: none;
}
.input > form > label{
    margin-left: 10vh;
}
.input > form > button{
    margin-left: 10vh;
}
.info{
    background: #484565;
    padding-top: 10px;
}
/* pitch section */
.pitch1{
    margin-top: 10vh;
}
.pitch2{
    margin-top: 5vh;
}
.pitch_ideas_title{
    margin-top: 15vh;
    margin-bottom: 8vh;
}
.pitch_item{
    width: 350px;
    height: 220px;
    background: #484565;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
}
.pitch_item > div > img{
    width: 60px;
    height: 60px;
    border-radius: 999px;
}
.underline{
    border-bottom: 1px solid gray;
}
.item_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_footer > div > img{
    margin: 8px;
    cursor: pointer;
}
.pitches{
    
}