{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="container">
            <div class="logo1">
                <h1>Pitch Lab</h1>
            </div>
            <div class="comment_section">
                <div class="row">
                    <div class="col-md-6 pitch">
                        <div class="top">
                            <div class="d-flex align-items-center">
                                <img src="https://avatars.githubusercontent.com/u/76810083?v=4" alt="">
                                <h5>{{ current_user.username }}</h5>
                            </div>
                            <div>
                                <span class="badge bg-primary">Business</span>
                            </div>
                        </div>
                        <div class="pitch_body">
                            <h4 class="mt-2 ml-5">Business</h4>
                            <p>Business opportunities are like buses, there's always another one coming.</p>
                        </div>
                    </div>
                    <div class="col-md-5 text-center comment">
                        <h4>Leave a comment</h4>
                        <form action="" method="POST">
                            <textarea class="form-control textarea" name="comment" id="" cols="30" rows="5" placeholder="Comment..."
                            required style="background: transparent;"></textarea>
                            <button class="btn btn-primary mt-3">Post</button>
                        </form>
                    </div>
                </div>
                <div class="row mt-5">
                    <!-- {% for comment in user_comments %} -->
                    <div class="col-md-6">
                        <h3>Comments</h3>
                        <div class="comment_post">
                            <h5>{{ current_user.username}}</h5>
                            <p>The best advice ever</p>
                        </div>
                    </div>
                    <!-- {% endfor %} -->
                </div>
            </div>
    </div>
    {% endblock %}
</body>
</html>