<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <!-- nav section -->
        <div class="logo">
            <h1>Pitch Lab</h1>
        </div>
        <!-- sign up section -->
        <div class="signup_card">
            <div class="row">
                <div class="col-md-6 input">
                    <h3 class="text-center">Login</h3>
                    <form method="POST" class="form-register">
                        {{ form.csrf_token() }}
                        {{ form.username.label() }}
                        {{ form.username(class="form-control", placeholder="User Name") }}
            
                        {{ form.password.label() }}
                        {{ form.password(class="form-control", placeholder="Password") }}
            
                        <br>
                        <div class="checkbox mb-3" style="margin-left: 9vh;">
                            <small>Do not have an account?</small>
                            <a href="{{ url_for('register') }}">Sign Up</a>
                        </div>
            
                        {{ form.submit(class="btn btn-lg btn-block btn-primary",style="margin-left:8vh") }}
                    </form>
                    <!-- <form action="" method="POST">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="Enter email..." required>
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" placeholder="Enter password..." maxlength="15" minlength="6">
                        <label for="password" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm password..." maxlength="15" minlength="6">
                        <button type="submit" class="btn2 mt-3">Submit</button>
                    </form> -->
                </div>
                <div class="col-md-6 info">
                    <a href="{{ url_for('register')}}"><button class="btn3">Sign Up</button></a>
                    <h1 style="margin-top: 10vh;">Welcome to Pitchlab community.</h1>
                    <h5>Personalised  updated daily and beautifully presented.Create an account and realise your dreams with pichlab.   </h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>