{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Pitch</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand text-white" href="#" style="font-size: 35px;">Pitch Lab</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="navbar-toggler-icon" src="https://img.icons8.com/ios-filled/50/ffffff/menu--v1.png" />
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="#">Business</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Pickup lines</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Promotion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{url_for('profile')}}">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout')}}"><button class="btn4">Log out</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- hero section -->
        <div class="hero_section">
            <div class="row">
                <div class="col-md-5 pitch1">
                    <h1>Do you look forward to turning your ideas into reality? Look no further than Pitch lab.</h1>
                    <button type="button" class="btn5" data-bs-toggle="modal" data-bs-target="#exampleModal">Pitch
                        here<img
                            src="https://img.icons8.com/external-kmg-design-basic-outline-kmg-design/32/ffffff/external-right-arrow-arrows-kmg-design-basic-outline-kmg-design-1.png" /></button>
                </div>
                <div class="col-md-7 pitch2">
                    <img class="img-fluid" src="../static//Images/pitch5.png" alt="">
                </div>
            </div>
        </div>
        <!-- pitches section -->
        <div class="pitch_ideas_title">
            <h1>Top Pitch Ideas</h1>
        </div>
        <div class="pitch_container">
            <div class="row pitches">
                {% for pitch in pitches %}
                <div class="col-md-4 pitch_item">
                    <div class="item_title">
                        <img class="img-fluid" src="https://avatars.githubusercontent.com/u/76810083?v=4" alt="profile">
                        <h5>{{ pitch.category }}</h5>
                    </div>
                    <p class="underline">{{ pitch.pitch }}</p>
                    <p>{{ pitch.owned_user.username }}</p>
                    <div class="card_footer">
                        <a href="{{ url_for('comment')}}"><span class="badge bg-primary">Comment</span></a>
                        <!-- <span type='button' class="badge bg-primary" data-bs-toggle="modal" data-bs-target="#commentModal">Comment</span> -->
                        <div>
                            <img src="https://img.icons8.com/material-rounded/24/ffffff/thumbs-down.png" />0
                            <img src="https://img.icons8.com/material-rounded/24/ffffff/thumb-up.png" />0
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('pitches') }}" method="POST">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" name="title" placeholder="Title..." required>
                            <label for="category" class="form-label">Category</label>
                            <input type="text" class="form-control" name="category" placeholder="Category..." required>
                            <label for="pitch" class="form-label">Pitch</label>
                            <textarea class="form-control" name="pitch" id="" cols="30" rows="5" placeholder="Pitch..."
                                required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Modal -->
    </div>
    <footer>
        <div class="container">
            <div class="row foot">
                <div class="col-md-4 text-center">
                    <h1>Pitch Lab</h1>
                </div>
                <div class="col-md-4 text-center">
                    <p class="pt-2">@CopyRight All Rights Reserved</p>
                </div>
                <div class="col-md-4 text-center">
                    <h1>2022</h1>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>

</html>