{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Sign Up</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <!-- nav section -->
        <div class="logo">
            <h1>Pitch Lab</h1>
        </div>
        <!-- sign up section -->
        <div class="signup_card">
            <div class="row">
                <div class="col-md-6 input">
                    <h3 class="text-center">Sign Up</h3>
                    <form action="{{ url_for('register') }}" method="POST" class="form-register">
                        {{ form.hidden_tag() }}
                        {{ form.username.label() }}
                        {{ form.username(class='form-control',placeholder='User Name...') }}

                        {{ form.email.label() }}
                        {{ form.email(class='form-control',placeholder='Enter Email...') }}

                        {{ form.password1.label() }}
                        {{ form.password1(class='form-control',placeholder='Password...') }}

                        {{ form.password2.label() }}
                        {{ form.password2(class='form-control',placeholder='Confirm password...') }}
                        <br>
                        <div class="checkbox mb-3" style="margin-left: 9vh;">
                            <small>Already have an account?</small>
                            <a href="{{ url_for('login') }}">Login</a>
                        </div>

                        {{ form.submit(class="btn2 mt-3 mb-4", style="margin-left: 8vh;")}}
                    </form>
                </div>
                <div class="col-md-6 info">
                    <a href="{{ url_for('login')}}"><button class="btn3">Login</button></a>
                    <h1 style="margin-top: 10vh;">Welcome to Pitchlab community.</h1>
                    <h5>Personalised  updated daily and beautifully presented.Create an account and realise your dreams with pichlab.   </h5>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>